* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    overflow: hidden;
}

.scroll::-webkit-scrollbar {
    display: none;
}

#start-screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    background-size: cover;
    background-image: url("./images/Main/start_screen.png");
    background-repeat: no-repeat;
}

ul {
    padding-top: 10vh;
}

li {
    width: 50vw;
    height: 12vh;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-screen button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    margin: 1vh auto;
}
#start-screen button img {
    width: 20vw;
    object-fit: cover;
}

#menu {
    background-color: transparent;
}

#helpPage {
    display: none;
    position: relative;
    display: flex;
}

#helpmenu1, #helpmenu2 {
    position: absolute;
    flex: 1;
}

.helptextMain {
    font-size: 1.5em;
    font-weight: bold;
}

.helpmenu {
    margin: 1vh 0;
    font-weight: bold;
}

#helpmenu1 {
    top: 10%;
    left: 20%;
}

#helpmenu2 {
    top: 10%;
    left: 55%;
}
#helpmenu2 .helpmenu {
    margin: 2vh 0;
}

#game-display {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #3f3f3f3f;
}

#game-screen {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#myCanvas {
    width: 100%;
    height: 100%;

    background-size: 100% 100%;
    background-color: #8f8f8f8f;
    background-image: url("./images/In-Game/background1.jpg");
    background-repeat: no-repeat;
}

#bar {
    position: absolute;
    top: 0; bottom: 0;
    width: 9vw;
    height: 100vh;

    background-image: url("./images/In-Game/bar/bar-ex.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#empty-class {
    position: relative;
    width: 100%;
    height: 84%;
}

.plants {
    margin: 0.1vh;
    width: 8vw;
    height: 27vh;
}

#gold {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    top: 11.1vh;
    left: 1.7vw;
}

#stage {
    font-weight: bold;
    font-size: 25px;
    color: white;
    z-index: 1;
    position: absolute;
    padding: 10px;
    bottom: 0; right: 0;
}

.gameOverScreen {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background : none;
    opacity: 0.0;

    overflow: hidden;
}

.gameClearScreen {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    text-align: center;
    margin-top: 25vh;
    background : none;
}

#gameOverImage {
    content: url("./images/In-Game/menu/gameover.png");

}

#gameClearImage {
    width: 28vw;
    content: url("./images/In-Game/menu/stageclear.png");
}

#buttonDiv {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 40px;
}

#retry-button {
    content: url("./images/In-Game/menu/restart.png");
    margin-right: 30px;
}

#retry-button:hover {
    content: url("./images/In-Game/menu/restart-hover.png");
}

#next-button {
    content: url("./images/In-Game/menu/nextstage.png");
    margin-right: 30px;
}

#next-button:hover {
    content: url("./images/In-Game/menu/nextstage-hover.png");
}

#exit-button {
    content: url("./images/In-Game/menu/mainmenu.png");
}

#exit-button:hover {
    content: url("./images/In-Game/menu/mainmenu-hover.png");
}